body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 3px 0 0 0;
}

h1, h2, h3, nav, footer {
    font-weight: 500;
}

legend {
    background-color: var(--color-primary-1-900);
    color: var(--color-primary-1-050);
    margin: 0 auto;
    width: 90%;
    padding: 0.25rem;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

fieldset {
    margin: 0.5em auto;
    background-color: var(--color-neutral-050);
    border: solid 1px var(--color-neutral-100);
    width: 90%;
}

#searchBox, #settingsBox, #paintingBox {
    background-color: var(--color-neutral-100);
    padding: 0.8rem;
}

#searchBox {
    margin: 0.5rem 1rem 0.1rem 1rem;
}

#settingsBox {
    margin: 0 1rem;
}

#paintingBox {
    margin: 0.5rem 1rem 0 1rem;
}

thead {
    background-color: var(--color-primary-1-050);
}

caption {
    background-color: var(--color-primary-1-800);
    color: var(--color-primary-1-050);
    padding: 0.25rem;
    font-weight: bold;
    font-size: 20px;
}

label {
    font-weight: bold;
}

input {
    padding: 0.5rem;
    border: 0;
    border-radius: 2px;
}

input[type="search"] {
    background-color: white;
    width: 35%;
}

input[type="submit"] {
    background-color: var(--color-primary-1-700);
    color: var(--color-neutral-050);
    font-weight: bold;
}

select {
    padding: 0.4rem;
    border: 0;
    font-weight: bold;
    background-color: white;
    border-radius: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

tr {
    border-bottom: 1px solid var(--color-neutral-200);
}

td {
    padding: 5px 0 7px 0;
}


img[width="100px"] {
    border: 2px solid var(--color-neutral-200);
}

button {
    padding: 2px 3px;
}

button:first-child {
    background-color: var(--color-primary-1-500);
}